$primary-color: #5eaeff;
$success-color: #11ff30;
$error-color: #ff243a;

$width-cell: 40px;
$height-cell: 40px;
$background-cell: #c7d9ff;
$border-cell: 1px solid #c9c8ce;

$game-width: 90%;